<div class="container">
  <div class="row">
    <div class="params">
      <div>
        <label for="t">
          t
        </label>
        <input (change)="onParamsChange()" name="t" type="number" min="-1" max="1" step="0.1" [(ngModel)]="t" />
      </div>
      <div>
        <label for="c">
          c
        </label>
        <input (change)="onParamsChange()" name="c" type="number" min="-1" max="1" step="0.1" [(ngModel)]="c" />
      </div>
      <div>
        <label for="b">
          b
        </label>
        <input (change)="onParamsChange()" name="b" type="number" min="-1" max="1" step="0.1" [(ngModel)]="b" />
      </div>
    </div>
  </div>
    <div class="row">
      <div class="display">
        <canvas class="drawingField" height="300" width="300" #drawingField
          (mousedown)="canvasHandler().canvasMouseDown($event)"
          (mouseup)="canvasHandler().canvasMouseUp($event)"></canvas>
      </div>
    <div class="table">
      <table id="table">
        <tr class="table_header">
          <th>ID</th>
          <th>X</th>
          <th>Y</th>
        </tr>
        <tr class="table_row" [ngClass]="{ selected: selectedRow == point.ID }" *ngFor="let point of pS.storage"
          (click)="pointHandler().selectPoint(point)">
          <td>{{ point.ID }}</td>
          <td>{{ point.X }}</td>
          <td>{{ point.Y }}</td>
        </tr>
      </table>
      <div class="table_control">
        <button class="button button_block" id="addButton" (click)="buttonsHandler().addButton()">
          +
        </button>
        <button class="button button_block" id="deleteButton" (click)="buttonsHandler().deleteButton()">
          -
        </button>
      </div>
    </div>
  </div>
  <div id="modal" class="modal" [ngClass]="{ closed: !modalVisible }">
    <div style="text-align: right;">
      <button class="button modal_close_button" id="modalCloseButton" (click)="buttonsHandler().closeModalButton()">
        x
      </button>
    </div>
    <div class="row">
      <div class="modal_input">
        <label>
          X:
          <input type="number" id="modalXNumber" [(ngModel)]="modalXVal" />
        </label>
        <label>
          Y:
          <input type="number" id="modalYNumber" [(ngModel)]="modalYVal" />
        </label>
        <label>
          <button class="button button_block" id="modalApplyButton" (click)="buttonsHandler().applyModalButton()">
            Применить
          </button>
        </label>
      </div>
    </div>
  </div>
  <div id="modalOverlay" [ngClass]="{ closed: !modalVisible }" class="modal_overlay"></div>
</div>
<router-outlet></router-outlet>
